body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.controls input,
.controls button {
    border-radius: 4px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 8px;
    border: 1px solid #cccccc;
    margin: 5px;
}

.controls input[type="range"] {
    box-shadow: none;
    padding: 0;
}

.controls button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border: none;
}

.controls button:hover {
    background-color: #0056b3;
}

#plotter {
    width: 500px;
    max-width: 100%;
    height: 60vh;
    margin: auto;
}

input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 2px;
    background: linear-gradient(to right, orange, red);
}

input[type="range"]::-moz-range-track {
    height: 2px;
    background: linear-gradient(to right, orange, red);
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -7px;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: red;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: red;
    cursor: pointer;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-moz-range-track,
input[type="range"]::-ms-track {
    background: linear-gradient(to right, orange, red);
    height: 2px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: red;
    height: 16px;
    width: 16px;
    cursor: pointer;
    margin-top: -7px;
}

input[type="range"]::-moz-range-thumb {
    background: red;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]::-ms-thumb {
    background: red;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.controls #set-range {
    background-color: #c82800;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}

.controls #set-range:hover {
    transform: translateY(-2px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.controls input[type="range"] {
    border: none;
    outline: none;
}
